<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <title>eShop</title>
   <link rel="stylesheet" href="style.css" />
   <script src="https://unpkg.com/vue@next"></script>
   <script src="lesson_1.js"></script>
</head>

<body>
   <div id="root">
      <header>
         <h1 class="title">eShop</h1>
         <div class="search">
            <search-component v-model="search"></search-component>
         </div>
         <div class="actions">
            <custom-button @click="setVisibleCard">Корзина</custom-button>
         </div>
      </header>
      <main>
         <div class="goods-list">
            <goods-item v-for="item in filteredItems" :item="item"></goods-item>
         </div>
      </main>

      <basket @close="setVisibleCard" v-if="IsVisibleCart"></basket>

      <!--<div>{{ calculatePrice }}</div>-->
   </div>
</body>

</html>